@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    background-color: #f2f2f2;
    font-family: "Poppins";
    transition: 0.25s all ease;
}body.dark{
    background-color: #000000;
    font-family: "Poppins";
    transition: 0.25s all ease;
}
body .card{
    background-color: #fff;
    box-shadow: 0 0 8px #00000080;
}body.dark .card{
    background-color: #111;
    box-shadow: 0 0 8px #000;
}
body .dot{
    background-color: #f2f2f2;
    box-shadow: 0 0 4px #000000;
}body.dark .dot{
    background-color: #111;
    box-shadow: 0 0 4px #000000;
}body .dot2{
    background-color: #111;
    box-shadow: 0 0 4px #000000;    
}
body .progress-area{
    background-color: #f2f2f2;
}body.dark .progress-area{
    background-color: #00000080;
}
body .hover-time{
    background-color: #111111e1;
}body.dark .hover-time{
    background-color: #000;
}
body .song-name{
    color: #111111;
}body.dark .song-name{
    color: #eee;
}
body .song-artist,.song-name span{
    color: #11111180;
}body.dark .song-artist,.song-name span{
    color: #eeeeee80;
}
body .right-side .inputs .buttons,body .menu{
    color: #111111;
}body.dark .right-side .inputs .buttons,body.dark .menu{
    color: #eee;
}

.container {
    width: 99vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s all ease;
}
.container.showSongsList {
    transform: translateY(-25%);
    transition: 0.25s all ease;
}

.card{
    z-index: 2;
    width: 440px;
    height: 150px;
    border-radius: 100px 8px 60px 100px;
    display: flex;
    align-items: center;
    transition: 0.25s all ease;
}
.card .disk{
    width: 140px;
    height: 140px;
    box-shadow: 0 0 4px #00000080;
    border-radius: 100%;
    display:flex;
    justify-self: start;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    scale: 1;
    transition: 0.25s scale ease,1s rotate ease-out;
}
.disk.play{
    animation-name: RotateDiskRight;
    animation-play-state:running;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}


.card .disk img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.dot{
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    padding: 2px;
    border-radius: 100%;
    transition: 0.25s all ease;
}
.dot2{
    width: 100%;
    height: 100%;
    margin: auto auto;
    border-radius: 100%;
    transition: 0.25s all ease;
}
.disk .buttons{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}.disk .buttons #next{
    width: 50%;
    height: 100%;
    border-radius: 0 100px 100px 0;
}.disk .buttons #prev{
    width: 50%;
    height: 100%;
    border-radius: 100px 0px 0px 100px;
}

.right-side{
    width: fit-content;
    height: fit-content;
}
.right-side .data{
    width: 100%;
    height: fit-content;
    margin-left: 18px;
    margin-top: -32px;
}
.right-side .data .song-name{
    font-size: 14px;
    font-weight: 500;
}.right-side .data .song-artist,.song-name span{
    font-size: 13px;
    font-weight: 500;
}

.right-side .inputs{
    width: 100%;
    height: fit-content;
    margin-left: 18px;
    margin-bottom: -32px;
}.right-side .inputs .buttons{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
}.inputs .buttons .button{
    margin-bottom: -10px;
    cursor: pointer;
    transition: 0.25s transform ease;
}.inputs .buttons .button:hover{
    transform: translateY(-2px);
}

.menu{
    display:flex;
    margin-top: -16%;
    translate: -14px 0;
    cursor: pointer;
    transition: 0.25s transform ease;
}
.menu:hover{
    transform: translateY(-2px);
}
.lyrics{
    display:flex;
    margin-top: -16%;
    translate: -12px 0;
    color: #111111;
    cursor: pointer;
    transition: 0.25s transform ease;
}
.lyrics:hover{
    transform: translateY(-2px);
}


.progress-area{
    width: 95%;
    height: 6px;
    border-radius: 100px;
    margin: 10px 0 0 0;
}.progress-bar{
    width: 1%;
    height: 100%;
    background-color: #db1b4b;
    box-shadow: 0 0 0px #db1b4b;
    border-radius: 100px 60px 60px 100px;
    opacity: 0.9;
    transition: 0.25s all ease;
}.progress-bar .progress-dot{
    width: 6px;
    height: 16px;
    margin-left: 100%;
    background-color: #fff;
    box-shadow: 0 0 6px #db1b4b;
    border-radius: 100px;
    opacity: 0;
    transform: translateY(-5px) translateX(-3px);
    transition: 0.25s all ease;
}
.progress-area:hover, .progress-area:hover >.progress-bar .progress-dot{
    opacity: 1;
}

.progress-bar.play{
    animation-name: progressBar;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes progressBar{
    0% {
        box-shadow: 0 0 1px #db1b4b;
    }
    50% {
        box-shadow: 0 0 6px #e71146;
    }
    100% {
        box-shadow: 0 0 1px #db1b4b;
    }
}
.song-durations{
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 6px;
}
.song-durations span{
    width: 24px;
    font-size: 12px;
    font-weight: 500;
}body .song-durations span{
    color: #11111180;
}body.dark .song-durations span{
    color: #eeeeee80;
}
#max-time{
    margin-left: 76%;
}




@keyframes RotateDiskRight {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.menu-card{
    width: 420px;
    height: 0px;
    position: absolute;
    z-index: -1;
    border-radius: 8px 8px 60px 100px;
    
    translate: 0 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s all ease;
}

body .menu-card.show{
    background-color: #fff;
    box-shadow: 0 0 8px #00000080;
}body.dark .menu-card.show{
    background-color: #111;
    box-shadow: 0 0 8px #000;
}


.menu-card.show{
    width: 420px;
    height: 460px;
    position: absolute;
    z-index: 1;
    border-radius: 8px 8px 60px 60px;
    opacity: 1;
    translate: 0 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s all ease;
}.menu-card .songs-list{
    width: 96%;
    height: 77%;
    translate: 0 24px;
    overflow: scroll;
    border-radius: 8px 8px 60px 60px;
    transition: 0.25s all ease;
}
.songs-list::-webkit-scrollbar{
    width: 0;
}
.songs-list .song{
    width: 80%;
    height: 64px;
    box-shadow: 0 0 8px #00000080;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 8px auto;
    opacity: 0;
    transition: 0.25s all ease;
}


.songs-list .song.playing{
    animation-name: songImmsion;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes songImmsion{
    0% {
        box-shadow: 0 0 4px #51ff00;
    }
    50% {
        box-shadow: 0 0 10px #51ff00;
    }
    100% {
        box-shadow: 0 0 4px #51ff00;
    }
}


.menu-card.show .songs-list .song{
    opacity: 1;
}


.songs-list .song img{
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 100px;
    margin-left: 4px;
}

.songs-list .song .like{
    color: #111;
    margin-left: 40%;
}
.songs-list .song .name{
    font-size: 14px;
    font-weight: 500;
    text-wrap: nowrap;
}.songs-list .song .artist{
    font-size: 13px;
    font-weight: 500;
    color: #11111180;
    text-wrap: nowrap;
}

body .songs-list .song .name{
    color: #111111;
}body.dark .songs-list .song .name{
    color: #eee;
}body .songs-list .song .artist{
    color: #111111;
}body.dark .songs-list .song .artist{
    color: #eeeeee80;
}


.hover-time.show{
    position: fixed;
    width: 24px;
    font-size: 13px;
    font-weight: 500;
    color: #11111180;
    text-wrap: nowrap;
    background-color: #111111e1;
    border-radius: 4px;
    padding: 0 4px;
    margin-left: 17.5%;
    transform: translateY(-135%) translateX(-50%);
    opacity: 1;
    text-align: center;
    transition: 0.05s margin-left ease,
                0.05s all ease;
}
.hover-time{
    position: fixed;
    width: 24px;
    text-wrap: nowrap;
    border-radius: 4px;
    padding: 0 4px;
    opacity: 0;
    margin-left: 17.5%;
    transform: translateY(-135%) translateX(-50%);
    text-align: center;
    transition: 0.25s all ease;
}
.hover-time span{
    font-size: 12px;
    font-weight: 500;
    color: #eee;
    text-wrap: nowrap;
}


.menu-card .lyrics-list{
    width: 96%;
    height: 77%;
    translate: 0 24px;
    overflow: scroll;
    border-radius: 8px 8px 60px 60px;
    display: grid;
}
.lyrics-list::-webkit-scrollbar{
    width: 0;
}

.line {
    font-size: 18px;
    font-weight: 500;
    place-self: center;
    color: #eeeeeeee;
    text-wrap: nowrap;
    font-family: "Rubik";
    line-height: 50px;
}